h1 {
    color: #FFFFFF;
}

/* * {
    border: solid;
} */

.header{
    background-color: #5F9EA0;
    display: flex;
    justify-content: space-between;
}

.site-description{
    display: flex;
    flex-direction: column;
    justify-content: first baseline;
}

.grid{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
}

.footer{
    display: flex;
    justify-content: flex-end;
}

p,h2{
    text-align: center;
}
body{
    background-color: #808080;
}
.item,a{
   
   
    border-radius: 20px;
}
p{
    font-family: fantasy;
    font-weight: 600;
    font-size: medium;
    color : gold
}